<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_language_import">
  
  <div class="pnl_formsarea">
    <fieldset class="inlineLabels"><legend>DNS Resync</legend>
	  <div class="ctrlHolder">
				<p class="label">Resync DNS Records</p>
					<div class="multiField">
						<input id="resync" type="checkbox" value="1" name="resync" checked/>
					</div>
	  </div>
    </fieldset>
	
	<tmpl_if name="msg">
	<div id="OKMsg"><p><tmpl_var name="msg"></p></div>
  </tmpl_if>
  <tmpl_if name="error">
	<div id="errorMsg"><h3>ERROR</h3><ol><tmpl_var name="error"></ol></div>
  </tmpl_if>
	
    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="Import" onClick="submitUploadForm('pageForm','tools/dns_resync.php');"><span>Start</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="Cancel" onClick="loadContent('tools/index.php');"><span>Cancel</span></button>
    </div>
  </div>
  
</div>
