<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_usersettings">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
      	<label for="passwort">{tmpl_var name='passwort_txt'}</label>
        <input name="passwort" id="passwort" value="{tmpl_var name='passwort'}" size="15" maxlength="100" type="password" class="textInput" onkeyup="pass_check(this.value)"/>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='password_strength_txt'}</p>
				<div id="passBar"></div>
				<p class="formHint"><span id="passText">&nbsp;</span></p>
			</div>
      <div class="ctrlHolder">
      	<label for="passwort2">{tmpl_var name='passwort_txt'}</label>
        <input name="passwort2" id="passwort2" value="" size="15" maxlength="100" type="password" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="language">{tmpl_var name='language_txt'}</label>
        <select name="language" id="language" class="selectInput withicons">
					{tmpl_var name='language'}
				</select>
      </div>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','tools/user_settings.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('tools/index.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
