$TTL        {tmpl_var name='ttl'}
@       IN      SOA     {tmpl_var name='ns'} {tmpl_var name='mbox'} (
                        {tmpl_var name='serial'}       ; serial, todays date + todays serial #
                        {tmpl_var name='refresh'}              ; refresh, seconds
                        {tmpl_var name='retry'}              ; retry, seconds
                        {tmpl_var name='expire'}              ; expire, seconds
                        {tmpl_var name='ttl'} )            ; minimum, seconds
;

<tmpl_loop name='zones'>
<tmpl_if name="type" op='==' value='NS'>
{tmpl_var name='name'}      NS        {tmpl_var name='data'}
</tmpl_if>
<tmpl_if name="type" op='==' value='A'>
{tmpl_var name='name'}      A        {tmpl_var name='data'}
</tmpl_if>
<tmpl_if name="type" op='==' value='AAAA'>
{tmpl_var name='name'}      AAAA        {tmpl_var name='data'}
</tmpl_if>
<tmpl_if name="type" op='==' value='ALIAS'>
{tmpl_var name='name'}      CNAME        {tmpl_var name='data'}
</tmpl_if>
<tmpl_if name="type" op='==' value='CNAME'>
{tmpl_var name='name'}      CNAME        {tmpl_var name='data'}
</tmpl_if>
<tmpl_if name="type" op='==' value='HINFO'>
{tmpl_var name='name'}      HINFO        {tmpl_var name='data'}
</tmpl_if>
<tmpl_if name="type" op='==' value='MX'>
{tmpl_var name='name'}      MX    {tmpl_var name='aux'}   {tmpl_var name='data'}
</tmpl_if>
<tmpl_if name="type" op='==' value='NAPTR'>
{tmpl_var name='name'}      NAPTR        {tmpl_var name='data'}
</tmpl_if>
<tmpl_if name="type" op='==' value='PTR'>
{tmpl_var name='name'}      PTR        {tmpl_var name='data'}
</tmpl_if>
<tmpl_if name="type" op='==' value='RP'>
{tmpl_var name='name'}      RP        {tmpl_var name='data'}
</tmpl_if>
<tmpl_if name="type" op='==' value='SRV'>
{tmpl_var name='name'}      SRV        {tmpl_var name='aux'} {tmpl_var name='data'}
</tmpl_if>
<tmpl_if name="type" op='==' value='TXT'>
{tmpl_var name='name'}      TXT        {tmpl_var name='data'}
</tmpl_if>
</tmpl_loop>

