<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_sys_state">

  <div class="pnl_toolsarea">
    <fieldset class="inlineLabels"><legend><tmpl_var name="monTransRefreshsq"></legend>
      <div class="buttons">
	      <div class="ctrlHolder">
	      	<label for="refreshinterval">{tmpl_var name='refreshinterval_txt'}</label>
	        <select name="refreshinterval" id="refreshinterval" class="selectInput withicons" onChange="loadContentRefresh('monitor/show_sys_state.php?state={tmpl_var name="state_type"}')">
						{tmpl_var name='refresh'}
					</select>
	      </div>
      </div>
    </fieldset>
  </div>
  
  <div class="pnl_formarea">
    <fieldset><legend></legend>
      <div class="stateview"><tmpl_var name="state_data"></div>
    </fieldset>
  </div>

</div>
