@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) print stylesheet - ISPConfig 3: default theme
 * (de) Druck-Stylesheet - ISPConfig 3: default theme
 *
 * @copyright       Copyright 2005-2008, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.0.6
 * @revision        $Revision: 202 $
 * @lastmodified    $Date: 2008-06-07 14:29:18 +0200 (Sa, 07 Jun 2008) $
 */

/* import print base styles | Basisformatierung für Drucklayout einbinden */
@import url(../../yaml/core/print_base.css);

/* #col1 - x
** #col2 - 0
** #col3 - 0
*/
@media print
{
  #col1, #col1_content { float:none; width: 100%; margin: 0; padding: 0; border: 0; }

  #col2 { display:none; }
  #col3 { display:none; }
}
