@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) Variation of screen layout (basemod.css) - ISPConfig 3: default theme
 * (de) Variation des Screenlayouts (basemod.css) - ISPConfig 3: default theme
 *
 * @copyright       Copyright 2005-2008, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.0.6
 * @revision        $Revision: 202 $
 * @lastmodified    $Date: 2008-06-07 14:29:18 +0200 (Sa, 07 Jun 2008) $
 */

@media screen, projection
{
  /**
   * (en) Repositioning content container
   * (de) Neupositionierung der Content Container
   *
   * |-------------------------------|
   * | #header                       |
   * |-------------------------------|
   * | #col1   | #col3               |
   * | 200px   | flexible            |
   * |-------------------------------|
   * | #footer                       |
   * |-------------------------------|
   */

  /* #col1 becomes the fixed navigation column | #col1 wird zur Navigationsspalte mit fester Breite */
  #col1 { width: 200px; float:left}
  #col1_content { padding: 0 10px 0 0; }

  /* #col2 is turned off | #col2 abschalten */
  #col2 { display:none; }

  /* #col3 becomes the main column | #col3 wird zur Hauptspalte */
  #col3 { margin-left: 200px; margin-right: 0; }
  #col3_content { padding: 0px 10px 10px 20px; }

  /* Graphic-free column dividers between #col1 and #col3 | Grafikfreier Spaltentrenner zw. #col1 und #col3*/
  #col3 {border-left: 1px #ddd solid;}
  #main {padding: 1em 0}
}
