<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_list_domain">

  <div class="pnl_toolsarea">
    <fieldset><legend>{tmpl_var name="toolsarea_head_txt"}</legend>
      <div class="buttons">
        <tmpl_if name="is_admin">
        <button class="iconstxt icoAdd" type="button" onClick="loadContent('domain/domain_edit.php');">
          <span>{tmpl_var name="add_new_record_txt"}</span>
        </button>
		<tmpl_else>
        <button class="iconstxt icoAdd" type="button" onClick="loadContent('domain/domain_new_client.php');">
          <span>{tmpl_var name="add_new_record_txt"}</span>
        </button>
   		</tmpl_if>
	  </div>
    </fieldset>
  </div>

  <div class="pnl_listarea">
    <fieldset><legend><tmpl_var name="list_head_txt"></legend>
      <table class="list">
        <thead>
          <tr>
            <th class="tbl_col_domain" scope="col"><tmpl_var name="domain_txt"></th>
            <th class="tbl_col_domain" scope="col"><tmpl_var name="user_txt"></th>
            <th class="tbl_col_buttons" scope="col">&nbsp;</th>
          </tr>
          <tr>
            <td class="tbl_col_domain"><input type="text" name="search_domain" value="{tmpl_var name='search_domain'}" /></td>
            <td class="tbl_col_user"><select name="search_sys_groupid" onChange="submitForm('pageForm','domain/domain_list.php');">{tmpl_var name='search_sys_groupid'}</select></td>
            <td class="tbl_col_buttons"><div class="buttons"><button type="button" class="icons16 icoFilter" name="Filter" id="Filter" value="{tmpl_var name='filter_txt'}" onClick="submitForm('pageForm','domain/domain_list.php');"><span>{tmpl_var name="filter_txt"}</span></button></div></td>
          </tr>
        </thead>
        <tbody>
          <tmpl_loop name="records">
          <tr class="tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
            <td class="tbl_col_domain"><a href="#" onClick="loadContent('domain/domain_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="domain"}</a></td>
            <td class="tbl_col_domain"><a href="#" onClick="loadContent('domain/domain_edit.php?id={tmpl_var name='id'}');">{tmpl_var name="sys_groupid"}</a></td>
            <td class="tbl_col_buttons">
				<tmpl_if name="is_admin">
              <div class="buttons icons16">    
                <a class="icons16 icoDelete" href="javascript: del_record('domain/domain_del.php?id={tmpl_var name='id'}&phpsessid={tmpl_var name='phpsessid'}','{tmpl_var name='delete_confirmation'}');"><span>{tmpl_var name='delete_txt'}</span></a>
              </div>
				</tmpl_if>
            </td>
          </tr>
          </tmpl_loop>
        </tbody>

        <tfoot>
          <tr>
            <td class="tbl_footer tbl_paging" colspan="4"><tmpl_var name="paging"></td>
          </tr>
        </tfoot>
      </table>
    </fieldset>
  </div>

</div>
