<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_mail_get">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
      	<label for="type">{tmpl_var name='type_txt'}</label>
        <select name="type" id="type" class="selectInput">
					{tmpl_var name='type'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="source_server">{tmpl_var name='source_server_txt'}</label>
        <input name="source_server" id="source_server" value="{tmpl_var name='source_server'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="source_username">{tmpl_var name='source_username_txt'}</label>
        <input name="source_username" id="source_username" value="{tmpl_var name='source_username'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="source_password">{tmpl_var name='source_password_txt'}</label>
        <input name="source_password" id="source_password" value="{tmpl_var name='source_password'}" size="30" maxlength="255" type="password" class="textInput" />
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='source_delete_txt'}</p>
					<div class="multiField">
						{tmpl_var name='source_delete'}
					</div>
			</div>
      <div class="ctrlHolder">
      	<label for="destination">{tmpl_var name='destination_txt'}</label>
        <select name="destination" id="destination" class="selectInput">
					{tmpl_var name='destination'}
				</select>
      </div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='active_txt'}</p>
					<div class="multiField">
						{tmpl_var name='active'}
					</div>
			</div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/mail_get_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/mail_get_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
