<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_spamfilter_policy">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
      	<label for="addr_extension_virus">{tmpl_var name='addr_extension_virus_txt'}</label>
        <input name="addr_extension_virus" id="addr_extension_virus" value="{tmpl_var name='addr_extension_virus'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="addr_extension_spam">{tmpl_var name='addr_extension_spam_txt'}</label>
        <input name="addr_extension_spam" id="addr_extension_spam" value="{tmpl_var name='addr_extension_spam'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="addr_extension_banned">{tmpl_var name='addr_extension_banned_txt'}</label>
        <input name="addr_extension_banned" id="addr_extension_banned" value="{tmpl_var name='addr_extension_banned'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="addr_extension_bad_header">{tmpl_var name='addr_extension_bad_header_txt'}</label>
        <input name="addr_extension_bad_header" id="addr_extension_bad_header" value="{tmpl_var name='addr_extension_bad_header'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="warnvirusrecip">{tmpl_var name='warnvirusrecip_txt'}</label>
        <select name="warnvirusrecip" id="warnvirusrecip" class="selectInput formLengthBool">
					{tmpl_var name='warnvirusrecip'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="warnbannedrecip">{tmpl_var name='warnbannedrecip_txt'}</label>
        <select name="warnbannedrecip" id="warnbannedrecip" class="selectInput formLengthBool">
					{tmpl_var name='warnbannedrecip'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="warnbadhrecip">{tmpl_var name='warnbadhrecip_txt'}</label>
        <select name="warnbadhrecip" id="warnbadhrecip" class="selectInput formLengthBool">
					{tmpl_var name='warnbadhrecip'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="newvirus_admin">{tmpl_var name='newvirus_admin_txt'}</label>
        <input name="newvirus_admin" id="newvirus_admin" value="{tmpl_var name='newvirus_admin'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="virus_admin">{tmpl_var name='virus_admin_txt'}</label>
        <input name="virus_admin" id="virus_admin" value="{tmpl_var name='virus_admin'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="banned_admin">{tmpl_var name='banned_admin_txt'}</label>
        <input name="banned_admin" id="banned_admin" value="{tmpl_var name='banned_admin'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="bad_header_admin">{tmpl_var name='bad_header_admin_txt'}</label>
        <input name="bad_header_admin" id="bad_header_admin" value="{tmpl_var name='bad_header_admin'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="spam_admin">{tmpl_var name='spam_admin_txt'}</label>
        <input name="spam_admin" id="spam_admin" value="{tmpl_var name='spam_admin'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="message_size_limit">{tmpl_var name='message_size_limit_txt'}</label>
        <input name="message_size_limit" id="message_size_limit" value="{tmpl_var name='message_size_limit'}" size="10" maxlength="255" type="text" class="textInput formLengthLimit" />&nbsp;Bytes
			</div>
      <div class="ctrlHolder">
      	<label for="banned_rulenames">{tmpl_var name='banned_rulenames_txt'}</label>
        <input name="banned_rulenames" id="banned_rulenames" value="{tmpl_var name='banned_rulenames'}" size="30" maxlength="255" type="text" class="textInput" />
			</div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','mail/spamfilter_policy_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('mail/spamfilter_policy_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
