<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_server_config">
  
  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='auto_network_configuration_txt'}</p>
					<div class="multiField">
						{tmpl_var name='auto_network_configuration'} {tmpl_var name='network_config_warning_txt'}
					</div>
			</div>
      <div class="ctrlHolder">
      	<label for="ip_address">{tmpl_var name='ip_address_txt'}</label>
        <input name="ip_address" id="ip_address" value="{tmpl_var name='ip_address'}" size="15" maxlength="255" type="text" class="textInput formLengthIPv4" />
			</div>
      <div class="ctrlHolder">
      	<label for="netmask">{tmpl_var name='netmask_txt'}</label>
        <input name="netmask" id="netmask" value="{tmpl_var name='netmask'}" size="15" maxlength="255" type="text" class="textInput formLengthIPv4" />
			</div>
      <div class="ctrlHolder">
      	<label for="gateway">{tmpl_var name='gateway_txt'}</label>
        <input name="gateway" id="gateway" value="{tmpl_var name='gateway'}" size="15" maxlength="255" type="text" class="textInput formLengthIPv4" />
			</div>
      <div class="ctrlHolder">
      	<label for="hostname">{tmpl_var name='hostname_txt'}</label>
        <input name="hostname" id="hostname" value="{tmpl_var name='hostname'}" size="40" maxlength="255" type="text" class="textInput" />
			</div>
      <div class="ctrlHolder">
      	<label for="nameservers">{tmpl_var name='nameservers_txt'}</label>
        <input name="nameservers" id="nameservers" value="{tmpl_var name='nameservers'}" size="40" maxlength="255" type="text" class="textInput" />
				<p class="formHint">{tmpl_var name='nameservers_hint_txt'}</p>
			</div>
	  <div class="ctrlHolder">
      	<label for="loglevel">{tmpl_var name='loglevel_txt'}</label>
        <select name="loglevel" id="loglevel" class="selectInput">
					{tmpl_var name='loglevel'}
				</select>
      </div>
	  <div class="ctrlHolder">
      	<label for="backup_dir">{tmpl_var name='backup_dir_txt'}</label>
        <input name="backup_dir" id="backup_dir" value="{tmpl_var name='backup_dir'}" size="40" maxlength="255" type="text" class="textInput" />
	  </div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','admin/server_config_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('admin/server_config_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
