<div class="panel panel_support_message">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels"><legend>FAQ</legend>
      <div class="ctrlHolder">
        <label for="hf_section">{tmpl_var name='faq_section_txt'}</label>
        <select name="hf_section" id="hf_section" class="selectInput">
                                        {tmpl_var name='hf_section'}
                                </select>
      </div>
      <div class="ctrlHolder">
        <label for="hf_question">{tmpl_var name='faq_question_txt'}</label>
        <input name="hf_question" id="hf_question" value="{tmpl_var name='hf_question'}" size="30" maxlength="255" type="text" class="textInput" />
                        </div>
      <div class="ctrlHolder">
        <label for="hf_answer">{tmpl_var name='faq_answer_txt'}</label>
        <textarea name="hf_answer" id="hf_answer" rows='10' cols='30'>{tmpl_var name='hf_answer'}</textarea>
      </div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','help/faq_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('help/faq_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>

</div>

