@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) Horizontal list navigation - ISPConfig 3: default theme
 * (de) Horizontale Navigationsliste - ISPConfig 3: default theme
 *
 * @copyright       Copyright 2005-2008, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.0.6
 * @revision        $Revision: 202 $
 * @lastmodified    $Date: 2008-06-07 14:29:18 +0200 (Sa, 07 Jun 2008) $
 */

@media all
{
  	#topNav ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	#topNav ul li {
		display: inline;
		margin: 0 2px 0 0;
	}
	
	#topNav a {
		background-color: #D3D3D3;
		background-position: center 5px;
		background-repeat: no-repeat;
		color:black;
		display:inline-block;
		height:20px;
		padding-top:37px;
		text-align:center;
		text-decoration:none;
		width:97px;
	}
	
	#topNav a:hover {
		background-color: #eeeeee;
		color: #000000;
	}
	
	#topNav #topNav_current {
	}
	
	#topNav #topNav_current a {
		font-weight: bold;
		color: black;
		background-color: #ffffff;
	}

	.topnav-admin {
		background-image: url('../../icons/x32/system.png') !important;
	}

	.topnav-client {
		background-image: url('../../icons/x32/client.png') !important;
	}

	.topnav-mail {
		background-image: url('../../icons/x32/email.png') !important;
	}

	.topnav-monitor {
		background-image: url('../../icons/x32/monitor.png') !important;
	}

	.topnav-sites {
		background-image: url('../../icons/x32/sites.png') !important;
	}

	.topnav-dns {
		background-image: url('../../icons/x32/dns.png') !important;
	}

	.topnav-tools {
		background-image: url('../../icons/x32/tools.png') !important;
	}

	.topnav-help {
		background-image: url('../../icons/x32/help.png') !important;
	}

	.topnav- {
		background-image: url('../../icons/x32/login.png') !important;
	}

	.topnav-domain {
		background-image: url('../../icons/x32/domain.png') !important;
	}

	.topnav-dashboard {
		background-image: url('../../icons/x32/dashboard.png') !important;
	}
	
	.topnav-vm{
		background-image: url('../../icons/x32/drawer.png') !important;
	}

}