<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_shell_user">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
	    <tmpl_if name="edit_disabled">
		<label for="parent_domain_id">{tmpl_var name='parent_domain_id_txt'}</label>
        <select name="parent_domain_id" id="parent_domain_id" class="selectInput" disabled="disabled">
					{tmpl_var name='parent_domain_id'}
		</select>
		<input type="hidden" name="parent_domain_id" value="{tmpl_var name='parent_domain_id_value'}" />
		<tmpl_else>
		<label for="parent_domain_id">{tmpl_var name='parent_domain_id_txt'}</label>
        <select name="parent_domain_id" id="parent_domain_id" class="selectInput">
					{tmpl_var name='parent_domain_id'}
		</select>
		</tmpl_if>
      </div>
      <div class="ctrlHolder">
      	<label for="username">{tmpl_var name='username_txt'}</label>
				<div style="float: left;">{tmpl_var name='username_prefix'} </div>
        <input name="username" id="username" value="{tmpl_var name='username'}" size="30" maxlength="255" type="text" class="textInput formLengthFourth"/>
			</div>
      <div class="ctrlHolder">
      	<label for="password">{tmpl_var name='password_txt'}</label>
        <input name="password" id="password" value="{tmpl_var name='password'}" size="30" maxlength="255" type="password" class="textInput" onkeyup="pass_check(this.value)"/>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='password_strength_txt'}</p>
				<div id="passBar"></div>
				<p class="formHint"><span id="passText">&nbsp;</span></p>
			</div>
      <div class="ctrlHolder">
      	<label for="chroot">{tmpl_var name='chroot_txt'}</label>
        <select name="chroot" id="chroot" class="selectInput formLengthHalf">
					{tmpl_var name='chroot'}
				</select>
      </div>
      <div class="ctrlHolder">
      	<label for="quota_size">{tmpl_var name='quota_size_txt'}</label>
        <input name="quota_size" id="quota_size" value="{tmpl_var name='quota_size'}" size="7" maxlength="7" type="text" class="textInput formLengthLimit" /><p class="formInputUnity">&nbsp;MB</p>
			</div>
      <div class="ctrlHolder">
				<p class="label">{tmpl_var name='active_txt'}</p>
					<div class="multiField">
						{tmpl_var name='active'}
					</div>
			</div>
    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    <div class="buttonHolder buttons">
      <button class="positive iconstxt icoPositive" type="button" value="{tmpl_var name='btn_save_txt'}" onClick="submitForm('pageForm','sites/shell_user_edit.php');"><span>{tmpl_var name='btn_save_txt'}</span></button>
      <button class="negative iconstxt icoNegative" type="button" value="{tmpl_var name='btn_cancel_txt'}" onClick="loadContent('sites/shell_user_list.php');"><span>{tmpl_var name='btn_cancel_txt'}</span></button>
    </div>
  </div>
  
</div>
