<h2><tmpl_var name="list_head_txt"></h2>
<p><tmpl_var name="list_desc_txt"></p>

<div class="panel panel_web_webserver">

  <div class="pnl_formsarea">
    <fieldset class="inlineLabels">
      <div class="ctrlHolder">
	<input type="radio" name="webserver_choice" onClick="submitForm('pageForm','sites/web_domain_edit.php');" value="nginx" /> Nginx<br />
	<input type="radio" name="webserver_choice" onClick="submitForm('pageForm','sites/web_domain_edit.php');" value="apache" /> Apache2<br />
      </div>

    </fieldset>

    <input type="hidden" name="id" value="{tmpl_var name='id'}">
  </div>

</div>
